body{
  background-image: url(../img/9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.contenedor{
  background-color: rgba(215, 204, 200,0.5);
  max-width: 1000px;
}
.contenedor1{
  margin: 10px;
  margin-right: 0px;
}
.contenedor2{
  background-color: rgba(255,213,79,0.8);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
.contenedor3{
  background-color: #fff9c4;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
.titulo, .subtitulo{
  color: white;
  text-shadow: 2px 2px 10px black;
}
.buscador{
  padding-right: 0px;
}
.buscar{
  background: #0277bd;
}
.fi-magnifying-glass{
  color: white;
}
.contenido{
  padding-left: 0px;
}
.boton{
  border: 1px solid #0277bd;
  border-radius: 3px;
}
.color{
  color: #0277bd;
}
.espacio-img{
  padding-top: 10px;
}
.crop-img{
  object-fit: cover;
  height: 200px;
}
.area{
  margin-bottom: 3px;
}
.comentario{
  border: gray solid 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 6px;
}
.pie{
  background-color: rgb(255,213,79);
  color: black;
  border-radius: 0px 0px 5px 5px;
  margin-top: 10px;
}
.fin{
 margin-bottom: 0px;
 color: #0277bd;
}

@media (max-width: 640px) {
  .contenido{
    padding-left: 10px;
  }
 .titulo{
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
 }
 .subtitulo{
   text-align: center;
 }
}
