.header1{
 margin-top: 10px;
  margin-bottom: 10px;
}
.logo-img{
  width: 8rem;
}
.titulo{
 font-size: 1.5rem;
 font-weight: bold;
}
.redes-sociales{
  margin-top: 50px;
  word-spacing: 8px;
}
.img-social {
  width: 30px;
  height: 30px;
}
.navbar1, .btn{
  background: #c2185b;
  height: 60px;
  border: none;
}
.quote{
  font-size: 1.3rem;
}
.contenido{
  margin: 10px;
}
.contenido img{
  margin-top: 120px;
}
.comentario{
  display: inline;
}
.persona{
  width: 90px;
}
.form{
  margin: 20px;
}
.buscar{
  margin-top: 30px;
}
.listado{
  margin-top: 30px;
  width: 210px;
}
.pie{
  background: #c2185b;
  border: none;
  color: white;
}
.fin{
  margin-top: 5px;
}
