body{
  background: #f8bbd0;
}
.container{
  max-width: 1000px;
}
.contenedor1{
  background: white;
  border-radius: 5px ;
}
.contenedor2{
  margin-top: 20px;
  background: #fff8e1;
  border-radius: 5px;
}
.header1{
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}
.logo-img{
  width: 8rem;
}
.titulo{
 font-size: 1.5rem;
 font-weight: bold;
}
.redes-sociales{
  margin-top: 50px;
  word-spacing: 8px;
}
.img-social {
  width: 30px;
  height: 30px;
}
.navbar1, .btn{
  background: #c2185b;
  height: 60px;
  border: none;
}
.navbar1{
  border-radius: 0px 0px 5px 5px;
}
.quote{
  font-size: 1.3rem;
}
.contenido{
  margin: 20px;
}
.contenido img{
  margin-top: 120px;
}
.comentario{
  display: inline;
}
.img-persona{
  width: 75px;
}
.form{
  margin: 20px;
}
.buscar{
  margin-top: 30px;
  width: 100%;
}
.listado{
  margin-top: 30px;
  width: 100%;
}
.pie{
  margin-top: 30px;
  background: #c2185b;
  border-radius: 0px 0px 5px 5px;
  color: white;
}
.fin{
  margin-top: 5px;
}

@media (max-width: 768px) {
  .navbar1 {
    background: none;
  }

  .contenido img{
    margin-top: 15px;
  }

}
